html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: all 0.5s ease 0.1s;
}

body {
  color: #000;
  position: relative;
  background-color: rgb(237, 220, 220);
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 10px;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  max-width: 550px;
  height: auto;
}

.slider-items {
  width: 500%;
  height: auto;
  display: flex;
  overflow: hidden;
  margin-bottom: 15px;
}

.slide {
  width: 20%;
}

.img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}

input {
  display: none;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .controls {
    display: flex;
    flex-direction: column-reverse;
  }
}

.text {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: left;
  position: absolute;
  font-size: 2vw;
  padding: 10px 10px;
}

.control-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-flow: nowrap;
  margin: 30px;
}

.slider-label {
  position: relative;
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid;
  transition: all 0.5s ease;
}

.slider-label:hover,
.slider-label:focus {
  opacity: 0.5;
}


.slider-label:visited,
.slider-label:active {
  opacity: 1;
  background-color: aqua;
}

.text-img {
  /* opacity: 0; */
}

#img1:checked ~ .img1,
#img1:checked ~ .text-img {
  margin-left: 0;
  opacity: 1;
}

#img2:checked ~ .img1 {
  margin-left: -20%;
  opacity: 1;
}

#img3:checked ~ .img1 {
  margin-left: -40%;
  opacity: 1;
}

#img4:checked ~ .img1 {
  margin-left: -60%;
  opacity: 1;
}

#img5:checked ~ .img1 {
  margin-left: -80%;
}

.control-btn label:hover,
#img1:checked~.control-btn label:nth-of-type(1),
#img2:checked~.controls-btn label:nth-of-type(2),
#img3:checked~.controls-btn label:nth-of-type(3),
#img4:checked~.controls-btn label:nth-of-type(4),
#img5:checked~.controls-btn label:nth-of-type(5) {
  background: black;
}